<style>
.statcounter-container {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
  margin-top: 2em;
  text-align: center;
}

.statcounter-container .label {
  margin-right: 0.3em;
}

.statcounter-container img.statcounter {
  vertical-align: middle;
  border: none;
  height: 1.2em;
  margin-left: 0.3em;
  filter: grayscale(100%) opacity(0.7);
}
</style>

<div class="statcounter-container">
  <!-- <span class="label">You are visitor</span> -->
  <script type="text/javascript">
    var sc_project = 13034969;
    var sc_invisible = 1;
    var sc_security = "e7f399a9";
    var scJsHost = "https://";
    document.write("<sc" + "ript type='text/javascript' src='" + scJsHost +
      "statcounter.com/counter/counter.js'></" + "script>");
  </script>
  <noscript>
    <div>
      <a title="web statistics" href="https://statcounter.com/" target="_blank">
        <img class="statcounter"
          src="https://c.statcounter.com/13034969/0/e7f399a9/0/"
          alt="web statistics"
          referrerPolicy="no-referrer-when-downgrade">
      </a>
    </div>
  </noscript>
</div>
